h4{
  color: $green;
  padding: 10px 0px 0px 10px;
}

h5{
  color: white;
  justify-text: center;
  text-align: center;
  padding: 10px 0px 0px 10px
}

p{
  color: #4A4A4A;
  padding-left: 10px;
}
.card_details{
  height: 400px;
  background: white;
  position: relative;
}

.booking{
  height: 300px;
  background: white;
}

.add_tour{
  background: #4A4A4A;
  height: 50px;
}

.img_calendar{
  color: white;

}

.img_money{
  color: $green;
}

.img_users{
  color: $green;
}

.small_stage_description{
  padding-top: 30px
}

.avatar-large {
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top:10px;
  right:10px;
}

.booking-form {
  padding: 5px;

  label {
    margin: 0px 0px 10px 30px;
    border-radius: 4px;
    display: inline-block;
  }

  input{
    margin: 0px 0px 20px 0px;
    border-radius: 4px;
    display: block;
    width: 70%;
    height: 39px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.428571429;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin: 0px 0px 5px 30px;
  }

  .price{
    border-radius: 4px;
    display: block;
    width: 70%;
    height: 39px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.428571429;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: none;
    margin: 0px 0px 0px 30px;
  }

  hr{
    margin: 0px 30px;
  }
}

.label-booking {
  display: inline;
  color: #4A4A4A;
  align-text:center;
  margin-bottom: 5px;
}

.booking button {
  width: 100%;
  margin: 15px 0px;
}

.booking-button{
  display: flex;
  justify-content: center;
}

