<div class="card-singer" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/92080/pexels-photo-92080.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');">
  <div class="card-description-singer">
    <h1>My Bookings</h1>
  </div>
</div>
